h1,
h2,
h3,
p,
ol,
ul,
body {
  margin: 0;
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.page {
  margin: 0;
}
.page__spacing {
  margin-top: 120px;
}

.header {
  background-color: #fcfcfc;
  border-bottom: 1px solid;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__main {
  font-size: 24px;
  font-weight: 700;
}

.header__second {
  font-size: 20px;
  text-align: center;
  background-color: #b3d6e7;
}

.header__second h2 {
  padding: 10px;
  margin-bottom: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.menu a {
  display: inline-flex;
  font-size: 18px;
  padding-right: 20px;
  color: #ff5722;
}
.menu a:hover {
  text-decoration: none;
}

.logo {
  width: 200px;
}

.area {
  padding: 50px;
  background: #fafafa;
  border: 1px solid #00bcd4;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}
.products--big {
  grid-column: 1 / -1;
}

.products__item {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 10px;
}
.products__item h3 {
  font-size: 16px;
  font-weight: 700;
  color: red;
  margin-bottom: 12px;
}
.products__item p {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  background: #607d8b;
}
.footer div {
  padding: 20px;
}
.footer p {
  font-size: 32px;
  text-align: center;
  color: white;
}
